html,
body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.App {
  background-image: url("./assets/star-wars-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 100vh;
}
